/* General */
@font-face {
  font-family: 'gamefont';
  src: url('../Supercell-Magic_5.ttf');
}
*{
    font-family: 'gamefont';
}
body{
    background-color: #faa;
    /*background-image: url("../img/diagonal-squares.png");
    background-position: 0px 0px;
    background-repeat: repeat;
    animation: animatedBackground 150s linear infinite;
    */
    overflow: hidden;
}
@keyframes animatedBackground{
    from { background-position: 0 0; }
    to { background-position: 200px 200px; }
}
#title{
    position: absolute;
    top: 0; left: 0;
    color: #237;
    font-size: 2vw;
    width: 25vw;
    height: calc(var(--vh, 1vh)*10);
    line-height: calc(var(--vh, 1vh)*10);
    text-align: center;
    z-index: 0;
}
.ball{
    background: #fff;
    height: 90px; width: 90px;
    border-radius: 50%;
    z-index: -1;
}

/* Maps Styling */
#map-div{
    position: absolute;
    width: 75vw; right: 0vw;
    height: 90vh; bottom: 0vh;
    height: calc(var(--vh, 1vh)*90);
    overflow: scroll;
    scroll-behavior: smooth;
}
#map-div::-webkit-scrollbar {
  width: 1vw;
}
#map-div::-webkit-scrollbar-track {
  background: #f1f1f1;
}
#map-div::-webkit-scrollbar-thumb {
  background: #888;
}
#map-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
#map-canvas{
    padding: 0;
    margin: 0;
    display:  block;
    position: absolute;
    z-index: 1;
}
#map-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1800px;
    height: 1345px;
    z-index: 0;
}
.map-button{
    position: fixed;
    z-index: 2;
    margin-top: 1vh;
    padding: 0;
    background-color: transparent;
    border: none;
}
.map-button img{
    height: 4vh;
    width: 4vh;
    z-index: 2;
}
.map-button:hover{
    cursor: pointer;
}
.map-button:nth-child(1){margin-left: 1vh;}
.map-button:nth-child(2){margin-left: 7vh;}
.map-button:nth-child(3){margin-left: 13vh;}
.map-button:nth-child(4){margin-left: 19vh;}

/* ................................ */

/* Stats styling */
#player-stats{
    position: absolute;
    width:  25vw; left: 0vw;
    max-height: calc((var(--vh, 1vh)*40)); bottom: 0vh;
    z-index:  2;
}

#toggle-stats{
    position: relative; top: 0;
    width: 2vw; left: 2px;
    cursor: pointer;
}
#toggle-stats.minimized{
    margin-bottom: 1vw;
}
#player-stat-content{
    position: relative;
    padding-left: 1vw; padding-right: 1vw;
    padding-top: 2vh; padding-bottom: 1vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(20, 20, 20, 0.7)
    );
    max-height: calc((var(--vh, 1vh)*38)); min-height: calc((var(--vh, 1vh)*15));
    overflow: auto;
}
#player-stat-heading{
    display: flex;
    justify-content: center;
}

.stat-button{
    cursor: pointer;
}
.stat-button img{
    width: 2vw;
}
#prev-stat{
    position: absolute;
    top: 0;
    left:  2px;
}
#next-stat{
    position: absolute;
    top: 0;
    right:  2px;
}

#player-stat-name{
    display: inline-block;
    margin:  0 auto;
    max-width: 19vw;
    margin-bottom: 1vh;
    text-align: center;
    font-size: 3.2vh;
}
#player-stat-position{
    margin-top:  0;
    margin-bottom:  1.6vh;
    text-align: center;
    font-size: 4.2vh;
    color: white;
    cursor: pointer;
}
#player-stat-tokens table{
    width: 100%;
    display: flex;
    justify-content: center;
}
#player-stat-tokens td{
    text-align: center;
    font-size: 2.9vh;
}
#player-stat-tokens td:nth-child(odd){
    padding-right: 20px;
}
/* ..........................  */

/* MrX stats styling */
#mrx-stats{
    position: absolute;
    width:  25vw; left: 0vw;
    max-height: calc((var(--vh, 1vh)*40)); bottom: calc((var(--vh, 1vh)*55));
    z-index:  2;
}

#toggle-mrx-stats{
    position: relative; top: 0;
    width: 2vw; left: 2px;
    cursor: pointer;
}
#mrx-stat-content{
    position: relative;
    padding-left: 1vw; padding-right: 1vw;
    padding-top: 2vh; padding-bottom: 1vh;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background: linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(40,40,40, 0.6)
    );
    min-height: 10vw;
    overflow: auto;
}

#rounds-played{
    max-width: 21vw;
    margin-bottom: 1.3vh;
    text-align: left;
    font-size: 2.7vh;
}
#mrx-last-transport{
    margin-top:  0;
    margin-bottom:  1.3vh;
    text-align: left;
    font-size: 2.5vh;
    line-height: 2.8vh;
    color: white;
}
#mrx-last-seen{
    margin-top:  0;
    margin-bottom:  1.3vh;
    text-align: left;
    font-size: 2.5vh;
    line-height: 2.8vh;
    color: white;
    cursor: pointer;
}
#next-reveal-in{
    margin-top:  0;
    text-align: left;
    font-size: 2.5vh;
    line-height: 2.8vh;
    color: white;
}
/* ..........................  */

#status{
    position: absolute;
    bottom: 0; right: 0;
    padding: 10px;
    font-size: 2vw;
    max-width:  30vw;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    color: black;
}