#map{
    position: absolute;
    width: 90vw; right: 0vw;
    height: 90vh; bottom: 0vh;
}


#map-canvas{
    padding: 0;
    margin: 0;
    display:  block;
    position: absolute;
    z-index: 1;
}
#map-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 1800px;
    height: 1345px;
}