#move-panel{
    position: absolute;
    top: 0; right: 0;
    width: 40vw; max-height: 50vh;
}
#move-panel *{
    background-color: #0008;
    width: 100% !important;
    z-index: 2;
}
#move-panel.hidden *{
    display: none;
}

.selectize-dropdown-content {
    max-height: 40vh;
 }
.selectize-input input{
    color: #fff;
}
.selectize-control .optgroup{
    padding-top: 5px;
}
.selectize-control .optgroup-header{
    color: #fff;
    font-size: 2vw;
}
.selectize-control .option{
    font-size: 1.5vw;
    padding-left: 3vw;
    max-width: 35vw;
    line-height: 1.7vw;
}
/*
"taxi": "#f6e64e", "bus": "#2EA49B",
    "underground": "#F24736", "double": "#22dd22",
    "blackticket": "#000000"
    */
.selectize-control .option.taxi{
    color: #f6e64e;
}
.selectize-control .option.bus{
    color: #2EA49B;
}
.selectize-control .option.underground{
    color: #F24736;
}
.selectize-control .option.double{
    color: #22dd22;
}
.selectize-control .option.blackticket{
    color: #8a8a8a;
}