#waiting-lobby{
    position: absolute;
    z-index: 10;
    position: absolute;
    top: 0; height: 100vh;
    left: 0; width: 100vw;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background-color: #222a;
}

#waiting-title{
    position: relative;
    margin-top: 15vh;
    left: 15vw; width: 70vw;
    text-align: center;
    color: #fff; font-size: 7vh;
}
#room-code{
    position: relative;
    cursor: pointer;
    margin-top: 3vh;
    left: 40vw; width: 20vw;
    text-align: center;
    color: #FEC8D8; font-size: 10vh;
}
#waiting-status{
    position: relative;
    margin-top: 3vh;
    left: 15vw; width: 70vw;
    text-align: center;
    color: #fff; font-size: 4vh;
}
#waiting-players{
    position: relative;
    margin-top: 5vh;
    left: 25vw; width: 50vw;
    text-align: center;
    color: #fff; font-size: 4vh;
}
#waiting-players ol{
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    font-size: 3.4vh;
    list-style-type: none;
}
#waiting-players ol li{
    margin-bottom: 10px;
}
#waiting-tip-box{
    position: absolute;
    bottom: 3vh;
    left: 5vw; width: 90vw;
    text-align: center;
    color: #fff; font-size: 3.6vh;
}
#waiting-tip-box img{
    height: 4.1vh; width: 2.8vh;
    display: inline-block;
}
#waiting-tip{
    display: inline-block;
}

#waiting-players ol li:nth-child(3n + 1){
    color: #E0BBE4;
}
#waiting-players ol li:nth-child(3n + 2){
    color: #D291BC;
}
#waiting-players ol li:nth-child(3n + 3){
    color:  #957DAD;
}